:host{
    margin: 20px;
    display: inline-block;
}
.mat-fab{
    background-color: #FFF;
    color: #000;
}

.mat-fab {
    opacity: 0;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.mat-fab.show {
    opacity: 0.9;
}