<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Server URL</ion-label>
        <ion-input type="text" required formControlName="serverURL"></ion-input>
      </ion-item>
    </ion-list>
    <p *ngIf="warning" class="warning">{{warning}}</p>
    <p *ngIf="error" class="danger">{{error}}</p>
    <div>
      <ion-row>
        <ion-col col-6>
          <button ion-button [disabled]="loading" (click)="handleDetectServer()">
            Discover Server
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button color="primary" block [disabled]="formGroup.invalid" (click)="handleSave()">Save</button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>