@import url("https://fonts.googleapis.com/css?family=Lato");
@import "~font-awesome/css/font-awesome.css";
@import "~weathericons/css/weather-icons.css";
@import "~weathericons/css/weather-icons-wind.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100vh;
  overflow: hidden;
  font-size: 2vw;
  font-family: "Roboto", "HelveticaNeue-Light", serif;
}
h1,h2 {
  font-weight: 500;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.9);
}
