<div class="wrapper" [ngClass]="{'static-bg': !(bgImageUrl$ | async)}" [ngStyle]="{'background-image': bgImageUrl$ | async }">
    <div class="left-panel">
        <app-clock></app-clock>
        <app-config-button *ngIf="showConfigButton" (click)="handleConfigurationClick()"></app-config-button>
    </div>
    <div class="placeholder"></div>
    <div class="right-panel">
        <app-weather [weatherData]="weatherData$ | async" [dhtSensorData]="dhtSensorData$ | async"></app-weather>
    </div>
</div>