:host {
  display: block;
  height: 100vh;
  width: 100vw;

  --panel-background: rgba(0, 0, 0, 0);
}
:host /deep/ {
  font-family: "Roboto", "HelveticaNeue-Light", serif;
  color: #fff;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: center center / contain no-repeat rgb(0, 0, 0);
}
.static-bg {
  background-size: cover;
  background-image: url(/assets/bg.jpg);
}

.wrapper .placeholder {
  flex: 1;
}

.left-panel {
  padding-left: 2vw;
}
.right-panel {
  padding-right: 2vw;
}
