<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Logs</ion-title>
    <ion-buttons end>
      <app-status [isOnline]="isOnline$ | async"></app-status>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let log of logs" [color]="getColor(log.level)" (click)="openModal(log)">
      <h3>{{formatDate(log.date)}} {{log.appName}} {{log.moduleName}}</h3>
      <p><span *ngFor="let param of log.params">{{param}} </span></p>
    </ion-item>
  </ion-list>
</ion-content>