<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PI</ion-title>
    <ion-buttons end>
      <app-status [isOnline]="isOnline$ | async"></app-status>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button block ion-button color="danger" [disabled]="!(isOnline$ | async)" icon-start (click)="handleReboot()">
          <ion-icon name="refresh-circle"></ion-icon> Reboot
        </button>
      </ion-col>
      <ion-col col-6>
        <button block ion-button color="danger" [disabled]="!(isOnline$ | async)" icon-start (click)="handleShutdown()">
          <ion-icon name="close-circle"></ion-icon> Shutdown
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>