<ion-header>
    <ion-toolbar [color]="getColor(log.level)">
      <ion-title>
        Log
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" hideWhen="ios"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card>
          <ion-card-header>
              <h2>{{log.appName}} ({{log.appVersion}})</h2>
              <p>{{log.moduleName}}</p>
              <p>{{formatDate(log.date)}}</p>
          </ion-card-header>
          <ion-card-content>
              <span *ngFor="let param of log.params">{{param}} </span>
          </ion-card-content>
        </ion-card>
  </ion-content>