<form [formGroup]="formGroup">
    <mat-form-field>
        <input type="text" placeholder="Open Weather API Key" matInput formControlName="apiKey" required>
    </mat-form-field>
    <mat-form-field>
        <input type="text" placeholder="Weather Location (City, Country)" matInput formControlName="location" required>
    </mat-form-field>
    <div>
        <label>Units: </label>
        <mat-radio-group class="units-radio-group" formControlName="units">
            <mat-radio-button value="c">Celsius</mat-radio-button>
            <mat-radio-button value="f">Fahrenheit</mat-radio-button>
        </mat-radio-group>
    </div>
</form>