
.mat-form-field {
    width: 100%;
}
.location-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.location-radio-group .mat-radio-button {
    margin: 5px;
}

.units-radio-group .mat-radio-button {
    margin: 0 5px;
}
