.mat-form-field {
    width: 100%;
}
.city-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.city-radio-group .mat-radio-button {
    margin: 5px;
}

.units-radio-group .mat-radio-button {
    margin: 0 5px;
}