<form [formGroup]="formGroup">
    <mat-form-field>
        <input type="text" placeholder="Dark Sky API Key" matInput formControlName="apiKey" required>
        <mat-hint><a target="blank" href="https://darksky.net/dev">Get an API key from Dark Sky</a></mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input type="text" placeholder="Decimal Latitude" matInput formControlName="latitude" required>
        <mat-hint><a target="blank" href="https://latitudelongitude.org">Get decimal Latitude and longitude coordinates.</a></mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input type="text" placeholder="Decimal Longitude" matInput formControlName="longitude" required>
    </mat-form-field>
    <!-- <mat-form-field>
        <input type="text" placeholder="Google API Key" matInput formControlName="googleApiKey" required>
        <mat-hint><a target="blank" href="https://developers.google.com/maps/documentation/geocoding/start#get-a-key">Activate the API and get an API key</a></mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input [readonly]="formGroup.controls.googleApiKey.invalid" type="text" placeholder="Weather Location (City, Country)" matInput formControlName="location"
            [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="locationAutocompleteDisplay">
            <mat-option *ngFor="let location of locations$ | async" [value]="location">
                {{ location.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.location.errors?.required">Please select the address.</mat-error>
        <mat-error *ngIf="formGroup.controls.location.errors?.general">{{formGroup.controls.location.errors.general}}</mat-error>
    </mat-form-field> -->
    <div>
        <label>Units: </label>
        <mat-radio-group class="units-radio-group" formControlName="units">
            <mat-radio-button value="auto">Automatic</mat-radio-button>
            <mat-radio-button value="us">Fahrenheit</mat-radio-button>
            <mat-radio-button value="si">Celsius</mat-radio-button>
        </mat-radio-group>
    </div>
</form>