<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Place
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="filterPlaces($event)"></ion-searchbar>
    <ion-list>
      <button ion-item *ngFor="let city of places$ | async" (click)="handleSelectCity(city)">{{ city.text }}</button>
    </ion-list>
</ion-content>