<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Screens</ion-title>
    <ion-buttons end>
      <app-status [isOnline]="isOnline$ | async"></app-status>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let screen of screens$ | async" (click)="openModal(screen)">
          <h3>{{ screen.name ? screen.name : screen._id }}</h3>
        </ion-item>
      </ion-list>
</ion-content>