<h2 mat-dialog-title>Configuration</h2>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content>
    <p *ngIf="!hasServer" class="text-warning">
        Server configuration was not found, the background slideshow was disabled.
    </p>
    <form [formGroup]="formGroup" *ngIf="hasServer">
        <div class="row">
            <div class="col-10" [ngClass]="{'col-12': isNewScreenSelected()}">
                <mat-form-field>
                    <mat-select placeholder="Screens Found on the Server" formControlName="screen">
                        <mat-option [value]="'0'">New Screen</mat-option>
                        <mat-option *ngFor="let screen of screens$ | async" [value]="screen._id">
                            {{ screen.name ? screen.name : screen._id }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2 text-right" *ngIf="!isNewScreenSelected()">
                <button mat-mini-fab type="button" (click)="handleRemoveClient()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <mat-form-field>
            <input matInput placeholder="Screen Name" formControlName="screenName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Background Update Interval" formControlName="backgroundUpdate" required>
                <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                    {{ interval.text }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="dropbox">
            <a *ngIf="!formGroup.controls['accessToken'].valid" mat-raised-button [href]="dropBoxUrl$ | async"
                (click)="handleConnectClick($event)">Connect To Dropbox</a>
            <mat-checkbox *ngIf="formGroup.controls['accessToken'].valid" [checked]="true" (change)="handleConnectDropboxChange($event)">Connected
                To Dropbox</mat-checkbox>
        </div>
    </form>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-select placeholder="Weather Provider" formControlName="weatherProviderType">
                <mat-option *ngFor="let provider of weatherProviders" [value]="provider.type">
                    {{ provider.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-template appWeatherConfigurationHost></ng-template>
    </form>
    <mat-error *ngIf="!!error">{{error}}</mat-error>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="handleSaveClient()" [disabled]="!isValid()">Save</button>
    <button mat-button *ngIf="showCancel" mat-dialog-close>Cancel</button>
</mat-dialog-actions>