:host{
    font-size: initial;
}
.mat-card{
    text-align: left;
}
.mat-form-field {
    width: 100%;
}
.city-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.city-radio-group .mat-radio-button {
    margin: 5px;
}

.units-radio-group .mat-radio-button {
    margin: 0 5px;
}

.mat-mini-fab{
    margin-top: 13px;
}

.row .col-2{
    padding-left: 2px;
}

.spacer {
    flex: 1 1 auto;
}

.dropbox{
    margin: 10px 0 15px 0;
}