h2 {
  margin-left: -24px;
  margin-top: -24px;
  margin-right: -24px;
  padding: 15px 24px;
  color: #fff;
  background-color: #dc3545;
}

p {
  text-align: center;
}

.mat-dialog-actions .mat-button {
  margin: auto;
}
