<h2 mat-dialog-title class="bg-danger text-white">Error</h2>
<mat-dialog-content>
    <p>{{error}}</p>
</mat-dialog-content>
<mat-dialog-actions class="text-center">
    <button mat-button (click)="refresh()">Refresh The Page <mat-icon>refresh</mat-icon></button>
</mat-dialog-actions>
