:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
}
.placeholder {
  flex: 1;
}
.today {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 3vh;
}
.today > div {
  padding: 0 1vw;
}
.today h1 {
  font-size: 400%;
  margin: 0;
}
.today p {
  font-size: 80%;
}

.today > div.details {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.today .details .conditions {
  text-align: center;
}
.today .details .conditions > * {
  margin-left: 1vw;
}
.today .details .conditions > *:first-child {
  margin-left: 0;
}
.today .speed{
  font-size: 60%;
}

.forecast {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.forecast h2 {
  margin: 0;
  font-size: 5vh;
}
.forecast p {
  font-size: 3vh;
}
.forecast h3 {
  margin: 0;
  font-size: 7vh;
}
.forecast .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.forecast .wrapper > div {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0.5vh;
}
.forecast .wrapper > div > div {
  padding: 0 1vw;
}

.forecast .temp {
  text-align: right;
  padding-right: 1.5vw;
  font-size: 4vh;
}
.forecast .temp p {
  flex: 1;
}
.forecast .temp p:last-child {
  margin-bottom: 2vh;
}

.forecast .weather {
  flex: 1;
  text-align: center;
}
.forecast .weather p {
  font-size: 2vh;
}

.title {
  text-align: right;
  font-size: 1vw;
}

.panel {
  border-radius: 5px;
  background: var(--panel-background);
}
