<div class="today panel" *ngIf="weatherData">
    <div>
        <h1>{{weatherData.temp | number:'1.0-0'}}&deg;</h1>
        <p>Feels like {{weatherData.feelsLike | number:'1.0-0'}}&deg;</p>
        <p *ngIf="!!dhtSensorData" class="inside">Inside {{dhtSensorData.temperature | number:'1.0-0'}}&deg; {{
            dhtSensorData.humidity | number:'1.0-0' }} <i class="wi wi-humidity"></i></p>
    </div>
    <div>
        <h1><i class="wi" [ngClass]="getConditionClass(weatherData.type, weatherData.conditionCode)"></i></h1>
        <p>{{weatherData.conditionDesc}}</p>
    </div>
    <div class="details">
        <p>{{formatTime(weatherData.sunrise)}} <i class="wi wi-sunrise"></i></p>
        <p>{{formatTime(weatherData.sunset)}} <i class="wi wi-sunset"></i></p>
        <p class="conditions">
            <i class="wi wi-wind" [ngClass]="getWindDirectionClass(weatherData.wind.direction)"></i>
            <i class="wi" [ngClass]="getWindBeaufortClass(weatherData.wind.speed)"></i>
            <span class="humidity">{{weatherData.humidity | number:'1.0-0'}} <i class="wi wi-humidity"></i></span>
        </p>
        <p class="speed">{{weatherData.wind.speed}} <span>km/h</span></p>
    </div>
</div>
<div class="forecast" *ngIf="weatherData">
    <div class="placeholder"></div>
    <div class="wrapper">
        <div class="panel" *ngFor="let item of weatherData?.forecast">
            <div class="day">
                <h2>{{formatWeekDay(item.date)}}</h2>
                <p>{{formatForecastDate(item.date)}}</p>
            </div>
            <div class="weather">
                <h3><i class="wi" [ngClass]="getConditionClass(weatherData.type, item.conditionCode)"></i></h3>
                <p>{{item.conditionDesc}}</p>
            </div>
            <div class="temp">
                <p>{{item.high | number:'1.0-0'}}&deg;</p>
                <p>{{item.low | number:'1.0-0'}}&deg;</p>
            </div>
        </div>
    </div>
</div>
<div class="title" *ngIf="weatherData">
    Weather for: {{weatherData.title}}, Last Updated: {{formatDate(weatherData.date)}}
</div>