<ion-header>
  <ion-toolbar>
    <ion-title>
      Screen
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="screenName" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Background Update Interval</ion-label>
        <ion-select formControlName="backgroundUpdate" required>
          <ion-option *ngFor="let interval of intervals" [value]="interval.value">{{ interval.text }}</ion-option>
        </ion-select>
      </ion-item>
      <button *ngIf="!formGroup.controls['accessToken'].valid" ion-item (click)="dropboxLogin($event)">Connect
        To Dropbox</button>
      <ion-item *ngIf="formGroup.controls['accessToken'].valid">
        <ion-toggle checked="true" (ionChange)="handleConnectDropboxChange($event)"></ion-toggle>
        <ion-label>Connected To Dropbox</ion-label>
      </ion-item>
      <button ion-item (click)="openWeatherPlacesModal($event)">{{formGroup.controls['city'].value.text}}</button>
    </ion-list>
    <ion-list radio-group formControlName="units">
      <ion-list-header>Units</ion-list-header>
      <ion-item>
        <ion-label>Celsius</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Fahrenheit</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
    </ion-list>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button block ion-button [disabled]="!(isOnline$ | async)" icon-start (click)="handleSaveScreen()">
          Save
        </button>
      </ion-col>
      <ion-col col-6>
        <button block ion-button color="danger" [disabled]="!(isOnline$ | async)" icon-start (click)="handleRemoveScreen()">
          <ion-icon name="refresh-circle"></ion-icon> Remove
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button block ion-button color="danger" [disabled]="!(isOnline$ | async)" icon-start (click)="handleReload()">
          <ion-icon name="refresh-circle"></ion-icon> Reload Page
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>