:host {
  display: flex;
  flex-direction: row;
}
:host > div {
  text-align: center;
}
.placeholder {
  flex: 1;
}
.colon {
  position: relative;
  top: -1vw;
}
.hide {
  color: rgba(255, 255, 255, 0.5);
}
h1 {
  font-size: 400%;
  margin: 0;
}
.date {
  font-size: 100%;
}
.panel {
  border-radius: 5px;
  background: var(--panel-background);
}
