<div class="panel">
    <h1>
        <span>{{hours}}</span>
        <span class="colon" [ngClass]="{hide: !isPointOn}">:</span>
        <span>{{minutes}}</span>
        <span *ngIf="showSeconds">:</span>
        <span *ngIf="showSeconds">{{seconds}}</span>
    </h1>
    <div class="date">
        {{date}}
    </div>
</div>
<div class="placeholder"></div>